<form method="post" action="{{ path('app_newsletter_delete', {'id': newsletter.id}) }}" onsubmit="Suprimer mail de newsletter;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ newsletter.id) }}">
    <button class="btn">Suprimer</button>
</form>
