{% extends 'base.html.twig' %}

{% block title %}Newsletters{% endblock %}

{% block body %}
    <h1>Newsletters</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
        {% for newsletter in newsletters %}
            <tr>
                <td>{{ newsletter.email }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas d'inscrire a la newsletter</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
