{% extends 'base.html.twig' %}

{% block title %}S'inscrire a la newsletter{% endblock %}

{% block body %}
<div class="container">
    <h1>S'inscrire a la newsletter</h1>

    {{ include('newsletter/_form.html.twig') }}

    <a class="btn btn-danger" href="/">Quitter</a>
</div>
{% endblock %}
