{% extends 'base.html.twig' %}

{% block title %}S'inscrire a la newsletter{% endblock %}

{% block body %}
    <h1>S'inscrire a la newsletter</h1>

    {{ include('newsletter/_form.html.twig') }}

    <a href="{{ path('app_newsletter_index') }}">back to list</a>
{% endblock %}
