{% block body %}
    <h1>Avis ({{ avis_annonces|length }})</h1>
    {% if avis_annonces|length == 0 %}
    Il y a pas d'avis pour cette annonce
    {% else %} 
    <table class="table">
        <tbody>
        {% for avis_annonce in avis_annonces %}
            <tr>
                <td><i class="bi bi-star-fill"></i> {{ avis_annonce.rating }}</td>
                <td>{{ avis_annonce.message }}</td>                
                {#% if avis_annonce.id_user == app.user %}
                <td>
                      <a href="{{ path('app_avis_annonce_edit', {'id': avis_annonce.id}) }}">edit</a>
                </td>  
                {% endif %#}
                
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    
{% endblock %}