{% extends 'base.html.twig' %}

{% block title %}Ajouter un avis{% endblock %}

{% block body %}
<div class="container">
    <h1>Ajouter un avis</h1>

    {{ include('avis_annonce/_form.html.twig') }}

    <a  class="btn btn-info" href="javascript:history.back()">retour a l'annonce</a>
</div>
{% endblock %}
