{% extends 'base.html.twig' %}

{% block title %}New AvisAnnonce{% endblock %}

{% block body %}
    <h1>Create new AvisAnnonce</h1>

    {{ include('avis_annonce/_form.html.twig') }}

    <a href="javascript:history.back()">retour a l'annonce</a>
{% endblock %}
