{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    {{ include('account/_form.html.twig', {'button_label': 'Update'}) }}


    <a href="{{ path('app_account_edit', {'id': user.id}) }}">edit</a>

    {{ include('account/_delete_form.html.twig') }}
{% endblock %}
