<form method="post" action="{{ path('app_annonce_delete', {'id': annonce.id}) }}" onsubmit="etes vous sur de suprimer;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ annonce.id) }}">
    <button class="btn btn-outline-danger">Supprimer</button>
</form>
