<h1>Bonjour merci de valider votre compte</h1>

<p>
    Merci de cliquer sur le lien suivant pour activer votre compte: <br><br>
    <a href="{{ signedUrl|raw }}">confirmer mon mail</a>.
    Ce lien exprimera au bout de {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers!
</p>
