{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Mot de passe oublié</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <br>
            Si vous avez oublié votre un probleme pour réinitilisé votre mot de passe.</br> Merci d'envoyer un mail à l'administarteur, une réponse vous sera donné dans les plus brefs délais.
            <br>
            <a href="mailto:admin@atipik.com">admin@atipik.com</a>
        </div>

        <button class="btn btn-primary">Send password reset email</button>
    {{ form_end(requestForm) }}
{% endblock %}
