{{ form_start(form) }}
    <div class="col-auto">
    {{ form_widget(form) }}
    </div>
      <input type="file" id="files" name="files" multiple>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
