{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle Annonce{% endblock %}

{% block body %}
<div class="container">
    <h1>Créer une nouvelle Annonce</h1>
        <div class="container">
            <div class="row g-3 align-items-center">
                {{ include('annonce/_form.html.twig') }}
            </div>
        </div>
    <a href="{{ path('app_annonce_index') }}">< Quitter</a>
</div>
{% endblock %}
