{% block body %}
<table class="table">
        <thead>
            <tr>
                <th>Value</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lebelle_option_annonce in lebelle_option_annonces %}
            <tr>
                <td>{{ lebelle_option_annonce.value }}</td>
                <td>{% if lebelle_option_annonce.status == 1 %}Obligatoire{% else %} non Obligatoire {% endif %}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('app_lebelle_option_annonce_show', {'id': lebelle_option_annonce.id}) }}">show</a>
                    <a class="btn btn-info" href="{{ path('app_lebelle_option_annonce_edit', {'id': lebelle_option_annonce.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Pas de champs personnalisé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </table>
{% endblock %}