<form method="post" action="{{ path('app_lebelle_option_annonce_delete', {'id': lebelle_option_annonce.id}) }}" onsubmit="return confirm('etes vous sur');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lebelle_option_annonce.id) }}">
    <button class="btn">Suprimer</button>
</form>
