{% extends 'base.html.twig' %}

{% block title %}Modifier option de categorie{% endblock %}

{% block body %}
    <h1>Modifier option de categorie</h1>

    {{ include('lebelle_option_annonce/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="btn btn-dark" href="{{ path('app_lebelle_option_annonce_index') }}">Retour</a>

    {{ include('lebelle_option_annonce/_delete_form.html.twig') }}
{% endblock %}
