{% extends 'base.html.twig' %}

{% block title %}Nouveau champs personnalisé{% endblock %}

{% block body %}
    <div class="container">
    <h1>Nouveau champs personnalisé</h1>

    {{ include('lebelle_option_annonce/_form.html.twig') }}

    <a class="btn btn-dark" href="{{ path('app_category_index') }}">Retour</a>
</div>
{% endblock %}

