{% extends 'base.html.twig' %}

{% block title %}Edit DocumentProprietaire{% endblock %}

{% block body %}
    <h1>Edit DocumentProprietaire</h1>

    {{ include('document_proprietaire/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_document_proprietaire_index') }}">back to list</a>

    {{ include('document_proprietaire/_delete_form.html.twig') }}
{% endblock %}
