{% extends 'base.html.twig' %}

{% block title %}DocumentProprietaire index{% endblock %}

{% block body %}
    <h1>DocumentProprietaire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Lien</th>
            </tr>
        </thead>
        <tbody>
        {% for document_proprietaire in document_proprietaires %}
            <tr>
                <td><a href="/{{ document_proprietaire.lien }}" >{{ document_proprietaire.lien }}</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_document_proprietaire_new') }}">Create new</a>
{% endblock %}
