{% extends 'base.html.twig' %}

{% block title %}New DocumentProprietaire{% endblock %}

{% block body %}
    <h1>Create new DocumentProprietaire</h1>

    {{ include('document_proprietaire/_form.html.twig') }}

    <a href="{{ path('app_document_proprietaire_index') }}">back to list</a>
{% endblock %}
