{% extends 'base.html.twig' %}

{% block title %}New DocumentProprietaire{% endblock %}

{% block body %}
    <h1>Ajouter un document</h1>

    {{ include('document_proprietaire/_form.html.twig') }}

    <a href="{{ path('app_document_proprietaire_index') }}">retour</a>
{% endblock %}
