{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublier{% endblock %}

{% block body %}
<div class="m-2"></div>
<div class="container">
Mot de passe oublié
<br>
Si vous avez oublié votre mot de passe merci d'envoyer un mail à l'admin il vous fournira dans les plus brefs de laits
<br>
<a href="mailto:admin@atipik.com">admin@atipik.com</a>
</div>
<div class="m-2"></div>
  {% endblock %}
