{% extends 'base.html.twig' %}

{% block title %}home{% endblock %}

{% block body %}
<div class="m-2"></div>
<div class="row">
     <div class="col-sm-12 col-md-6">
     <p class="text-center">
     AtipikHouse propose une variété de logements, allant des tiny houses aux maisons à étages, en passant par les maisons en bois, pour s'adapter à différents styles de vie et budgets. Elle met à disposition une équipe de professionnels pour aider les clients dans toutes les étapes de la location, de la sélection des logements jusqu'à la signature du contrat, et ensuite pour la maintenance pendant toute la durée de la location. Elle s'efforce de fournir un service personnalisé pour répondre aux besoins de chaque client.
     </p>
     </div>
     <div class="col-sm-12 col-md-6">
     <img class="img-fluid"
          src="{{ img1 }}"
          alt="Image d'une cabanne en bois">
     </div>
</div>
<div class="row">
     <div class="col-sm-12 col-md-6">
     <img class="img-fluid"
          src="{{ img2 }}"
          alt="Image d'une cabanne en bois">
     </div>
     <div class="col-sm-12 col-md-6">
     <p class="text-center">
     Logements uniques et atypiques: AtipikHouse propose une variété de logements allant des tiny houses aux maisons à étages, en passant par les maisons en bois, offrant une expérience de vacances originale.
     <br>
     Différents types de logements proposés par AtipikHouse permettent de s'adapter à différents styles de vie et budgets.
     <br>
     Paysages et activités variés: AtipikHouse est capable de sélectionner pour ses clients les endroits les plus adaptés pour leurs vacances, en fonction de leurs préférences, en termes de paysages, d'activités etc.
     <br>
     Assurance qualité: L'entreprise s'engage à maintenir un bon état des logements pour garantir des vacances réussies à ses clients.
     <br>

     Flexibilité: AtipikHouse offre des solutions de locations de longue durée, ou de courte durée, adaptées aux besoins de ses clients.
     <br>

     Support à distance: L'entreprise met en place un support à distance pour répondre aux besoins de ses clients pendant toute la durée de leur location.

     </p>
     </div>
</div>
<div class="m-2"></div>
  {% endblock %}
