{% extends 'base.html.twig' %}

{% block title %}creation de compte{% endblock %}

{% block body %}
    <h1>Creation de compte</h1>

    {{ include('user/_form.html.twig') }}

    <a class="btn btn-outline-dark" href="{{ path('app_user_index') }}">< Retour en arrière</a>
{% endblock %}
