{% extends 'base.html.twig' %}

{% block title %}home{% endblock %}

{% block body %}
<div class="m-2"></div>
<div class="container">
Informations légales :
<br>
Nom de la société : Atipkhouse
Adresse : 12, rue de la micholiere PARIS 12 eme
Téléphone : 02 10 10 29 73
Email : Atipikhouse@Atipikhouse.com
Numéro SIRET : 483 153 776
<br>
Responsabilité :
<br>
Atipkhouse ne peut être tenue responsable des dommages directs ou indirects causés par l'utilisation de ses services.
Les utilisateurs sont seuls responsables du contenu qu'ils publient sur le site.
<br>
Propriété intellectuelle :
<br>
Tous les contenus du site Atipkhouse, y compris les textes, images, logos, icônes, etc., sont protégés par les lois sur la propriété intellectuelle.
La reproduction, la modification, la distribution ou toute utilisation des contenus du site à des fins commerciales sans autorisation est interdite.
<br>
Informations sur les cookies :
<br>
Le site Atipkhouse utilise des cookies pour améliorer l'expérience utilisateur.
Les utilisateurs peuvent configurer leur navigateur pour refuser les cookies, mais cela peut entraîner des limitations dans l'utilisation du site.
<br>
Conditions d'utilisation :
<br>
L'utilisation du site Atipkhouse implique l'acceptation des conditions d'utilisation.
Atipkhouse se réserve le droit de modifier les conditions d'utilisation à tout moment.
<br>
Règlement des litiges :
<br>
Tout litige relatif à l'utilisation du site Atipkhouse sera soumis à la juridiction PARIS.
</div>
<div class="m-2"></div>
  {% endblock %}
